<ul id="user-list" class="collection"></ul>
<ul id="chat-messages"></ul>
<textarea id="chat-input" class="materialize-textarea"></textarea>
<button id="send-btn" type='button' class="btn">Send</button>
<div id="streams" style="hidden"></div>
